.container{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    color: aqua;
}
.hasil{
    justify-content: center;
    align-items: center;
    margin: auto; 
    display: flex; 
}
